body {
  background-color: #77a7;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .cool-colors:hover {
  color: #f1aef2;
  cursor: pointer;
}

header > div.tic-tac-toe img {
  height: 120px;
  width: 120px;
  margin: 10px 20px 20px 0;

  transform: rotate(-10deg);
}

.game {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  width: 300px;
  height: 250px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;

  border-radius: 10px;
  border: 10px solid #000;
}

.game > div:hover {
  background-color: #f1aef2;
}

.game > div {
  border: 2px solid #77a7;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-family: "Workbench", sans-serif;

  cursor: pointer;
}

div.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2rem auto;
}

div.button-container > button.restart-btn {
  height: 35px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #77a7;
  background-color: black;
  color: white;
  font-family: "Workbench", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

div.button-container > button.restart-btn:hover {
  background-color: #f1aef2;
  color: black;
}
